<!DOCTYPE html>

<html lang="en">

    <head>
        <title> Contact Us</title>
        <meta charset="UTF-8">
        <meta name="description" content="You can adopt pets (cats and dogs) on our website">
        <link rel="icon" href="images/petImg.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./Css/main.css">
        
    </head>

    <body>

        <%- include('EJS/header') %> <!-- Include header.ejs -->
    
    
        <script src="/JS/date.js"></script>

        <% if (loggedIn) { %>
            <div class="logout-container">
                <p>Welcome, <%= username %>!</p>
                <form action="/logout" method="POST">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        <% } %>
        <main>
            <div class="container">
                <div>    
                    <ul class="nav">
                        <a href="/" class="home-page-animation">
                            <li>Home Page</li>
                            <img width="200px" class="home-page-animation-hover" src="./images/DogSniffing_Transparent.gif">
                        </a>
                        <% if (!loggedIn) { %>
                            <a href="/CreateAccount" class="browse">
                                <li>Create an Account</li>
                                <img class="browse-gif" src="https://media.tenor.com/JL0YrycH2gkAAAAj/peach-goma-crate-orange.gif" alt="Browse GIF">
                            </a>
                            <% } %>
                            <% if(loggedIn){ %>
                                <a href="/FindDogCat" class="browse">
                                    <li>Find a dog/cat</li>
                                    <img class="browse-gif" src="https://media.tenor.com/JL0YrycH2gkAAAAj/peach-goma-crate-orange.gif" alt="Browse GIF">
                                </a>
                            <%} %>
                        <a href="/DogCare" class="cat-care-animation">
                            <li>Dog Care</li>
                            <img class="cat-care-animation-hover" src="https://cdn.pixabay.com/animation/2023/01/19/08/26/08-26-01-694_512.gif">    
                        </a>
                        
                        <a href="/CatCare" class="cat-care-animation">
                            
                            <li>Cat Care</li>
                            <img class="cat-care-animation-hover" src="https://64.media.tumblr.com/e642b66f8548fa1485621bd82d3eacc9/df8c8427627025f7-72/s640x960/af7dc108c6fd722e684f767aa7ad6b9f72f9d9c9.gifv">
                        </a>
                        
                        <a href="/PetGiveAway" class="cat-care-animation">
                            <div>
                            <li>Have a pet to give away</li>
                            <img class="cat-care-animation-hover" src="https://media.tenor.com/lCKwsD2OW1kAAAAi/happy-cat-happy-happy-cat.gif">
                            </div>
                            
                        </a>
                        
                        <a href="/ContactUs"><li>Contact Us</li></a>
                    </ul>
                </div>

                <div class="container-Style">    
                    <form>
                        <fieldset class="form-container" style="background-color: rgba(250, 235, 215, 0.802);">

                            <legend class="Contact-And-Help additional-style"><a href="/ContactUs">Contact US</a></legend>

                            <label >First Name:</label> <label >Achraf </label>
                            <br><br>
                            <label >Last Name:</label> <label >Cheniti </label>
                            <br><br>
                            <label >Student ID:</label> <label >#40244865 </label>
                            <br><br>
                            <label >Class:</label> <label >SOEN 287 </label>

                            <br><br>
                            <label >E-mail:</label> <label  class="social-media-icon"><a href="mailto:chenitiachraf08@gmail.com">chenitiachraf08@gmail.com</a></label> <label  class="social-media-icon"><a href="mailto:a_chenit@live.concordia.ca">a_chenit@live.concordia.ca</a></label>
                            <br><br>
                            <label>Social media Links:</label> <label><a target="_blank" href="https://github.com/Ach57"><img style="width: 25%; height: 40px" class="social-media-icon"  src="images/Github.png"></a></label> <label><a target="_blank" href="https://www.linkedin.com/in/achraf-c-0bbb19177/"><img style="width: 25%; height:40px;" class="social-media-icon" src="images/Linkdin.png"></a></label>




                        </fieldset>


                    </form>
                </div>

                <div class="content-container no-margin-top">
                    <h2>Additional Contact Information</h3>
                        <p>Currently pursing a Joint Major Degree in Data Science at Concordia University.<br><br>
                            Going to start first internship in the Fall 2024<br><br> 
                            Available for any additional work to do related to Mathematics, Statistics and Computer Science &#x1F60A;
                        </p>
                    <h2>Preferred Contact Method</h2>

                        <p>Preferably over E-mail. It's easier for my to keep track of everything.</p>
                    <h2>Response Time</h2>
                        <p> Depends on the Schedule, but generally, it's within an hour.</p>

                </div>

            </div>



        </main>

        <%- include('EJS/footer') %> <!-- Include footer.ejs -->


    </body>




</html>