<footer>
    <div class="footer-style">
        <p class="hover-info">Privacy/Disclaimer Statement
            <span class="info-box">We value your privacy. Your personal information will not be sold or misused in any way. 
                Additionally, while we strive to ensure the accuracy of information posted by pet owners, 
                we cannot be held responsible for any incorrect details provided. Your trust is important to us.</span>
        </p>
        <p id="right">&copy; 2024 PET-ADOPTION.COM. All rights reserved.</p>
    </div>
</footer>