<header> 
    <div class="timer" >
        <h5 id="widthDisplay"></h5>
        <h4 id="clock"></h4>    
    </div>
    <h1 class="h1Header"><a href="/">PET-ADOPTION.COM <img class="social-media-icon" src="images/adopt.png" width="69px" height="35"></a>
    
        <img class="header-gif" src="./images/DogAnimation_no_background.gif" alt="Gif" width="500px">
            </h1> 
    

</header>
